blinker
click
colorama
contourpy
cycler
Flask
fonttools
gunicorn
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mkl-fft
mkl-random
mkl-service
munkres
numpy
packaging
pickle-mixin
Pillow
pip
pyparsing
python-dateutil
scikit-learn
scipy
setuptools
six
threadpoolctl
Werkzeug
wheel
wordcloud
